#show-list {
  display: none;
}

.list-name {
  cursor: pointer;
  color: #0088cc;
}

.list-name:hover{
  text-decoration: underline;
}

/*#show-tasks {
  display: none;
}

.new-task {
  cursor: pointer;
  color: #0088cc;
}

.new-task:hover{
  text-decoration: underline;
}*/
